.right {
  float: right;
}

.left {
  float: left;
}

.hide {
  display: none;
}

.red-text {
  background-color: red;
  color: white;
  font-weight: bold;
  font-size: 18px;
  text-align: center;
  margin: 0 auto;
  border-radius: 5px;
  width: 50%;
}